::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 a 18 */
   color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
input.put{
	border-bottom: 1px solid white;
}