{% extends 'inicio.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block css %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/informacion/publicacion.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/informacion/publicacion2.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<title></title>
</head>
{% endblock css %}
<body>
		{% block navbar %}
			{{block.super}}
		{% endblock navbar %}

		{% block slider %}
		<section class="teal accent-4 banner center-align"><br>
          <h3 class="white-text"> Administracion Publicaciones </h3>
          <div class="row">
			<form method="GET" action="">
				<div class="input-field col s10 offset-s1 m3 offset-m3 l3 offset-l3">
					<input type="text" name="q" placeholder="buscar..." value="{{request.GET.q}}" class="put">
					<input type="submit" value="buscar" class="btn white blue-text text-accent-4 boton">
				</div>
				<div class="input-field col s11 offset-s1 m6 l3"><br>
						<a href="{% url 'principal:generar_publicacion' %}" class="btn blue accent-3 white-text"><i class="left material-icons">playlist_add</i>Crear publicacion</a>
				</div>
			</form>
			</div>
      </section><br>
		{% endblock slider %}

		{% block servicio %}
			<section class="center-align"><br><br>
			<h3 class="teal-text text-accent-4">Publicaciones</h3>
			<h5>puede descargar los documentos de las publicaciones</h5>
				{% if is_paginated %}
					<ul class="pagination">
					{% if page_obj.has_previous %}
			    	<li>
			        	<span><a href="?page={{ page_obj.previous_page_number }}" class="blue-text text-accent-4">Previo</a></span>
			    	</li>
					{% endif %}
			    		<li class="">
			    	    	<span>Paginas {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
			    		</li>
					{% if page_obj.has_next %}
			    		<li>
			        		<span><a href="?page={{ page_obj.next_page_number }} " class="blue-text text-accent-4">Siguiente</a></span>
			    		</li>
					{% endif %}
					</ul>
				{% endif %}
			<div class="row">

				{% if object_list %}
				{% for object in object_list %}
				  <div class="col s12 m6 offset-m3 l6 offset-l3">
                      <div class="card scrollspy" id="servicios">
                        <div class="card-content black-text">
                          <span class="card-title">titulo: {{object.titulo}}</span>
                          <p>descripcion: {{object.descripcion}}</p>
                          <p class="">creado: {{object.creacion}}</p>
                          <a href="{% url 'principal:ver_documento' object.id %}" class="red-text red-accent-3"><i class="material-icons red-text red-accent-3">library_books</i> abrir documento: {{object.archivo|cut:"publicaciones/"}}</a>
                        </div>
                        <div class="card-action ">
                        	<a href="{% url 'principal:modificar_publicacion' object.id %}" class="btn orange accent-3"><i class="left material-icons">queue</i>Modificar </a>
                         	<a href="{% url 'principal:eliminar_publicacion' object.id %}" class="btn red accent-3"><i class="left material-icons">delete</i>Eliminar </a>
                        </div>
                      </div>
			        </div>	
			    {% endfor %}
				{% else %}
					<p> no hay registros aun </p>
				{% endif %}
			</div>
			</section>
			
		{% endblock servicio %}

		{% block footer %}
		{% endblock footer %}

			{% block modal %}
			{% endblock modal %}

		{% block js %}
			{{block.super}}
		{% endblock js %}
</body>
</html>
